---
title: "Convert A String Categorical Variable To A Numeric Variable"
author: "Chris Albon"
date: 2017-12-20T11:53:49-07:00
description: "Convert A String Categorical Variable To A Numeric Variable."
type: technical_note
draft: false
aliases:
    - /python/construct_a_dictionary_from_multiple_lists_python.html
---

### import modules

In [1]:
import pandas as pd

### Create dataframe

In [2]:
raw_data = {'patient': [1, 1, 1, 2, 2], 
        'obs': [1, 2, 3, 1, 2], 
        'treatment': [0, 1, 0, 1, 0],
        'score': ['strong', 'weak', 'normal', 'weak', 'strong']} 
df = pd.DataFrame(raw_data, columns = ['patient', 'obs', 'treatment', 'score'])
df

   patient  obs  treatment   score
0        1    1          0  strong
1        1    2          1    weak
2        1    3          0  normal
3        2    1          1    weak
4        2    2          0  strong

### Create a function that converts all values of `df['score']` into numbers

In [16]:
def score_to_numeric(x):
#     print(type(x))
    if x=='strong':
        return 3
    if x=='normal':
        return 2
    if x=='weak':
        return 1

### Apply the function to the score variable

In [17]:
df['score_num'] = df['score'].apply(score_to_numeric)#use map
df

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

   patient  obs  treatment   score  score_num
0        1    1          0  strong          3
1        1    2          1    weak          1
2        1    3          0  normal          2
3        2    1          1    weak          1
4        2    2          0  strong          3

In [10]:
pd.Categorical(df.score)

[strong, weak, normal, weak, strong]
Categories (3, object): [normal, strong, weak]

In [12]:
pd.get_dummies(df)

   patient  obs  treatment  score_num  score_normal  score_strong  score_weak
0        1    1          0          3             0             1           0
1        1    2          1          1             0             0           1
2        1    3          0          2             1             0           0
3        2    1          1          1             0             0           1
4        2    2          0          3             0             1           0

In [13]:
df.score.map({'weak':0,'normal':1,'strong':2})

0    2
1    0
2    1
3    0
4    2
Name: score, dtype: int64