---
title: "Group Pandas Data By Hour Of The Day"
author: "Chris Albon"
date: 2017-12-20T11:53:49-07:00
description: "Group data by hour of the day using pandas."
type: technical_note
draft: false
---

## Preliminaries

In [1]:
# Import libraries
import pandas as pd
import numpy as np

## Create Data

In [2]:
# Create a time series of 2000 elements, one very five minutes starting on 1/1/2000
time = pd.date_range('1/1/2000', periods=2000, freq='5min')

# Create a pandas series with a random values between 0 and 100, using 'time' as the index
series = pd.Series(np.random.randint(100, size=2000), index=time)

## View Data

In [3]:
# View the first few rows of the data
series[0:10]

2000-01-01 00:00:00    89
2000-01-01 00:05:00     1
2000-01-01 00:10:00    38
2000-01-01 00:15:00    93
2000-01-01 00:20:00     4
2000-01-01 00:25:00    28
2000-01-01 00:30:00    81
2000-01-01 00:35:00    87
2000-01-01 00:40:00    78
2000-01-01 00:45:00    19
Freq: 5T, dtype: int32

## Group Data By Time Of The Day

In [4]:
# Group the data by the index's hour value, then aggregate by the average
series.groupby(series.index.hour).mean()

0     51.119048
1     47.559524
2     47.130952
3     49.583333
4     52.214286
5     50.000000
6     47.238095
7     45.976190
8     47.583333
9     55.976190
10    41.845238
11    43.547619
12    53.678571
13    49.523810
14    55.845238
15    46.178571
16    48.392857
17    47.452381
18    47.666667
19    49.976190
20    45.142857
21    42.511905
22    46.712500
23    47.805556
dtype: float64