---
title: "Select Rows With A Certain Value"
author: "Chris Albon"
date: 2017-12-20T11:53:49-07:00
description: "Select rows with a certain value."
type: technical_note
draft: false
---

In [1]:
import pandas as pd

In [2]:
# Create an example dataframe
data = {'name': ['Jason', 'Molly'], 
        'country': [['Syria', 'Lebanon'],['Spain', 'Morocco']]}
df = pd.DataFrame(data)
df

            country   name
0  [Syria, Lebanon]  Jason
1  [Spain, Morocco]  Molly

In [3]:
df[df['country'].map(lambda country: 'Syria' in country)]

            country   name
0  [Syria, Lebanon]  Jason