---
title: "Select Rows With A Certain Value"
author: "Chris Albon"
date: 2017-12-20T11:53:49-07:00
description: "Select rows with a certain value."
type: technical_note
draft: false
---

In [2]:
import pandas as pd

In [3]:
# Create an example dataframe
data = {'name': ['Jason', 'Molly'], 
        'country': [['Syria', 'Lebanon'],['Spain', 'Morocco']]}
df = pd.DataFrame(data)
df

    name           country
0  Jason  [Syria, Lebanon]
1  Molly  [Spain, Morocco]

In [4]:
df[df['country'].map(lambda country: 'Syria' in country)]

    name           country
0  Jason  [Syria, Lebanon]

In [5]:
df[df['country'].apply(lambda country: 'Syria' in country)]

    name           country
0  Jason  [Syria, Lebanon]