---
title: "Lower Case Column Names In Pandas Dataframe"
author: "Chris Albon"
date: 2017-12-20T11:53:49-07:00
description: "Lower case column names in pandas dataframe."
type: technical_note
draft: false
---

## Preliminaries

In [1]:
# Import modules
import pandas as pd

# Set ipython's max row display
pd.set_option('display.max_row', 1000)

# Set iPython's max column width to 50
pd.set_option('display.max_columns', 50)

## Create an example dataframe

In [7]:
# Create an example dataframe
data = {'NAME': ['Jason', 'Molly', 'Tina', 'Jake', 'Amy'], 
        'YEAR': [2012, 2012, 2013, 2014, 2014], 
        'REPORTS': [4, 24, 31, 2, 3]}
df = pd.DataFrame(data, index = ['Cochice', 'Pima', 'Santa Cruz', 'Maricopa', 'Yuma'])
df

             NAME  YEAR  REPORTS
Cochice     Jason  2012        4
Pima        Molly  2012       24
Santa Cruz   Tina  2013       31
Maricopa     Jake  2014        2
Yuma          Amy  2014        3

## Lowercase column values

In [11]:
# Map the lowering function to all column names
df.columns = map(str.lower, df.columns)
# df.columns=[col.lower() for col in df.columns]
# df.rename(columns=lambda x:x.upper())

In [10]:
df

             name  year  reports
Cochice     Jason  2012        4
Pima        Molly  2012       24
Santa Cruz   Tina  2013       31
Maricopa     Jake  2014        2
Yuma          Amy  2014        3