---
title: "Convert A Categorical Variable Into Dummy Variables"
author: "Chris Albon"
date: 2017-12-20T11:53:49-07:00
description: "Convert A Categorical Variable Into Dummy Variables."
type: technical_note
draft: false
---

In [2]:
# import modules
import pandas as pd
import patsy

In [21]:
# Create dataframe
# raw_data = {'countrycode': [1, 2, 3, 2, 1],'gender': ['M', 'F', 'M', 'M', 'F']} 
raw_data = {'countrycode': ['a', 'b', 'c', 'b', 'a'],'gender': ['M', 'F', 'M', 'M', 'F']} 
df = pd.DataFrame(raw_data)#, columns = ['countrycode'])
df

  countrycode gender
0           a      M
1           b      F
2           c      M
3           b      M
4           a      F

In [22]:
# Convert the countrycode variable into three binary variables
patsy.dmatrix('C(countrycode)-1+C(gender)', df, return_type='dataframe')

   C(countrycode)[a]  C(countrycode)[b]  C(countrycode)[c]  C(gender)[T.M]
0                1.0                0.0                0.0             1.0
1                0.0                1.0                0.0             0.0
2                0.0                0.0                1.0             1.0
3                0.0                1.0                0.0             1.0
4                1.0                0.0                0.0             0.0

In [23]:
pd.get_dummies(df)

   countrycode_a  countrycode_b  countrycode_c  gender_F  gender_M
0              1              0              0         0         1
1              0              1              0         1         0
2              0              0              1         0         1
3              0              1              0         0         1
4              1              0              0         1         0