---
title: "Create a Column Based on a Conditional in pandas"
author: "Chris Albon"
date: 2017-12-20T11:53:49-07:00
description: "Create a Column Based on a Conditional in pandas."
type: technical_note
draft: false
aliases:
    - /python/pandas_create_column_using_conditional.html
---

### Preliminaries

In [2]:
# Import required modules
import pandas as pd
import numpy as np

### Make a dataframe

In [3]:
data = {'name': ['Jason', 'Molly', 'Tina', 'Jake', 'Amy'], 
        'age': [42, 52, 36, 24, 73], 
        'preTestScore': [4, 24, 31, 2, 3],
        'postTestScore': [25, 94, 57, 62, 70]}
df = pd.DataFrame(data, columns = ['name', 'age', 'preTestScore', 'postTestScore'])
df

    name  age  preTestScore  postTestScore
0  Jason   42             4             25
1  Molly   52            24             94
2   Tina   36            31             57
3   Jake   24             2             62
4    Amy   73             3             70

### Add a new column for elderly

In [18]:
# Create a new column called df.elderly where the value is yes
# if df.age is greater than 50 and no if not
df['elderly'] = np.where(df['age']>=50, 'yes', 'no')

In [20]:
# View the dataframe
df

    name  age  preTestScore  postTestScore elderly
0  Jason   42             4             25      no
1  Molly   52            24             94     yes
2   Tina   36            31             57      no
3   Jake   24             2             62      no
4    Amy   73             3             70     yes

In [14]:
import numpy as np
# Create a numpy array from a list of numbers
arr = np.array([11, 12, 13, 14, 15, 16, 17, 15, 11, 12, 14, 15, 16, 17])

# Get the index of elements with value 15
result = np.where(arr == 15)
result
# print('Tuple of arrays returned : ', result)
# print("Elements with value 15 exists at following indices", result[0], sep='\n')

(array([ 4,  7, 11], dtype=int64),)